# Eclipse
**/.classpath
**/.project
**/.jsdtscope
**/.settings/
**/.factorypath

# Intellij
**/.idea/
**/*.iml
**/*.iws

# Mac
**/.DS_Store

# Maven
**/.apt_generated
**/.apt_generated_tests/

**/pom.xml.bak

**/target/
**/test-output/
/image_src_files/
